<!DOCTYPE html>
<html>
<head>
  <title>ProductsOrders</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <% if msg.is_a? String %>
    <h1 style="color:red;"><%= "I'm a #{name} and this is my message: #{msg}"%></h1>
  <% end  %>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
